@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');  /* i really prefer iosevka, but that's not on google fonts yet: https://github.com/google/fonts/issues/559 */

:root {
    --text-color: black;
    --accent-color: #666;
    --accent-color2: #ddd;
    --link-color: #38c;
    --text-font: "Source Sans Pro";
    --code-font: "Fira Mono";
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
}

/* fonts */
body, .md div.title, .md h1, .md h2, .md h3 {
    font-family: var(--text-font);
}
.md code, .md pre, .md svg.diagram, .md kbd {
    font-family: var(--code-font);
}


/* basics */
.md strong,
.md b {
    color: var(--accent-color);
}
.md a,
.md a:link,
.md a:visited {
    color: var(--link-color);
    font-family: var(--code-font);
    font-size: 0.93em;
    letter-spacing: -0.05em;
}
.md kbd {
    font-size: 0.93em;
    letter-spacing: -0.02em;
    background-color: #ddd;
    border: 0.05em solid #aaa;
    padding: 0 0.2em 0.1em;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, .2),
                0 0.05em 0     rgba(255, 255, 255, .7) inset;
}
.md center {
    margin: 1rem 0;
}
.accent {
    color: var(--accent-color);
}


/* title */
.md div.title {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5rem !important;
    margin: calc(var(--slide-height) / 2 - 12rem / 2) 0 0 0;  /* center vertically, assuming two lines of text */
    padding: 0;
}
.md div.subtitle {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.67rem;
}


/* headings */
.md h1,
.md h2 {
    text-align: left;
    border: none;
    width: calc(var(--slide-width) + 2 * var(--side-margin));
    padding-left: var(--side-margin);
    margin: 0 0 0 calc(0rem - var(--side-margin));
}
.md h1 {
    background: var(--accent-color2);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    margin-top: calc(var(--slide-height) / 2 - 4.5rem / 2);  /* center vertically, assuming one line of text */
}
.md h2 {
    background: var(--accent-color);
    color: #FFF;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
}
.md h3 {
    color: inherit;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0;
}


/* horizontal lines */
.md hr.ignore {
    border: 0;
    border-bottom: 0.1rem solid var(--accent-color2);
}


/* lists */
.md ol {
    padding-left: 1.3rem;
}
.md ul {
    list-style: none;
    padding: 0;
}
.md ul > li.plus:before {
    content: "+";
    padding-right: 0.7em;
}
.md ul > li.minus:before {
    content: "–";
    padding-right: 0.7em;
}
.md ul > li.asterisk:before {
    content: "●";
    font-size: 0.9em;
    padding-right: 0.7em;
}
.md ul > li {
    padding-left: 1.2em;
    text-indent: -1.2em;
}


/* quotes */
.md blockquote {
    background-color: #eee;
    padding: .25rem 0.4rem;
    margin: 0;
}
.md blockquote.fancyquote {
    background: transparent;
    padding: 0;
    margin: 1rem 0;
}
.md blockquote.fancyquote .author {
    margin-top: 0.2rem;
}


/* diagrams */
.md svg.diagram {
    /*stroke-width: 0.05rem;*/  /* should be defined in px – diagrams are scaled differently */
}


/* code */
.md code {
    font-size: 0.93em;
    letter-spacing: -0.02em;
}
.md pre.listing {
    font-size: 0.75rem;
    border-top: 0.1rem solid #ccc;
    border-bottom: 0.1rem solid #ccc;
    background-color: #eee;
    padding: 0.25rem 0.5rem;
    line-height: 1rem;
}
.md pre.listing .linenumbers span.line:before {
    color: var(--accent-color);
    width: 1rem;
    margin-left: -0.5rem;
    margin-right: 1rem;
    padding: 0;
}


/* captions */
.md div.imagecaption,
.md div.tablecaption,
.md div.listingcaption {
    margin: 0.5rem 0 0;
    text-align: center;
}


/* admonitions */
.md .admonition {
    border-radius: 0;
    padding: .25rem 0.4rem;
    border-left-width: 0.2rem !important;
    border-left-color: rgba(68,138,255,.4) !important;
    background-color: rgba(68,138,255,.2) !important;
}
.md .admonition::before {
    display: none !important;
}
.md .admonition.tip {
    border-left-color: rgba(40,230,40,.4) !important;
    background-color: rgba(40,230,40,.2) !important;
}
.md .admonition.warn,
.md .admonition.warning {
    border-left-color: rgba(255,145,0,.4) !important;
    background-color: rgba(255,145,0,.2) !important;
}
.md .admonition.error {
    border-left-color: rgba(255,40,40,.4) !important;
    background-color: rgba(255,40,40,.2) !important;
}
.md .admonition-title {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: -1rem !important;
    border-width: 0 !important;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}


/* calendars & schedules */
.md table.calendar {
    font-size: 0.6rem;
    font-family: inherit;
}


/* endnotes and bibliography */
.md .endnote,
.md .bib {
    font-size: 0.6rem;
    line-height: 1rem;
}
.md .endnote {
    padding-left: 0.38rem;
    text-indent: -0.38rem;
}
.md .bib {
    margin: 1rem 0;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}
.md .bib b {
    color: var(--link-color);
    font-family: var(--code-font);
    font-weight: initial;
}


/* media */

/* TODO should this go into the reset stylesheet? */
.md img {
    max-width: 100%;
    max-height: calc(var(--slide-height) - 2rem);
}
.md video {
    width: 21.33rem;
}
.md iframe[src^="https://www.youtube"],
.md iframe[src^="https://player.vimeo"] {
    width: 21.33rem;
    height: 12rem;
}
/*center img[full],
center video[full],
center iframe[full] {
    margin-top: -1rem;  /* counteract center top margin
    margin-left: -2rem;  /* counteract side margin
}
center img[full] {
    max-height: var(--slide-height);
    max-width: var(--slide-width);
}
*/
