/*TODO mariana, but bluer – invert code to make highlighting work out more or less well? */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:700,700i,900|Source+Serif+Pro:400,400i,700,700i&display=swap');

body {
    background-color: #2f3c4a;
    color: white;
    font-family: "Source Serif Pro";
}

.md div.title {
    font-family: "Libre Franklin";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 2.8rem;
    text-align: right;
    margin: 0;
    padding: 0;
}

.md div.subtitle {
    font-style: italic;
    margin: 1rem 0 0;
    font-size: 0.8rem;
    padding: 0;
    text-align: right;
}

.md h1, .md h2, .md h3 {
    font-family: "Libre Franklin";
    font-weight: 700;
    border: 0 !important;
    color: white;
    padding: 0;
    margin: 1rem 0;
}

.md h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #eee,
                 2px 2px 0px #ddd,
                 3px 4px 0px #ccc,
                 4px 5px 0px #bbb,
                 5px 5px 0px #aaa,
                 6px 7px 0px #999,
                 7px 8px 0px #888,
                 8px 10px 0px #777,
                 9px 10px 0px #666;
    line-height: 1em;
    /*transform: skew(10deg) rotate(10deg);*/
    width: var(--slide-width);
    height: calc(var(--slide-height) - 1rem);
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
}

.md h2 {
    font-size: 1.5rem;
}

hr {
    border: 0;
    border-bottom: 0.3rem solid rgba(0,0,0,0.3);
}

code {
    color: black;
    filter: invert();
}
