@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:600|Vollkorn:400,400i,700,700i,900&display=swap');

body {
    font-family: Vollkorn;
}

.slide-progress {
    display: block;
    height: 0.1rem;
    background-color: black;
}

.md div.title {
    font-family: "Vollkorn SC";
    float: left;
    text-align: right;
    width: 50%;
    border-right: 0.05rem solid black;
    margin: 4rem 2rem 4rem 0;
    padding: 1rem 2rem 1rem 0;
}

.md div.subtitle {
    margin-top: 7.75rem;
    font-size: 0.8rem;
    font-style: italic;
}

.md h1, .md h2, .md h3 {
    text-align: center;
    font-family: Vollkorn;
    border: 0;
    color: black;
}

.md h1 {
    font-size: 3rem;
    font-style: italic;
    line-height: 1em;
    transform: rotate(-10deg);
    width: var(--slide-width);
    height: calc(var(--slide-height) - 1rem);
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
}

.md h2 {
    font-size: 1.5rem;
}

.md h3 {
    font-family: "Vollkorn SC";
    font-size: 1rem;
}

hr {
    border: none;
    border-bottom: 0.05rem solid black;
}

.fancyquote {
    font-size: 1.25rem;
    display: none;
}
.md blockquote.fancyquote::before,
.md span.fancyquote::after {
    font-family: inherit;
    font-size: 4rem;
    vertical-align: -0.4em;
}
.md blockquote.fancyquote .author {
    font-family: "Vollkorn SC";
    font-size: 0.8rem;
    margin-top: 0;
}



.md .admonition {
    border-radius: 0;
    padding: .25rem 0.4rem;
    border-left-width: 0.2rem !important;
    border-left-color: rgba(68,138,255,.4) !important;
    background-color: rgba(68,138,255,.2) !important;
}
.md .admonition::before {
    display: none !important;
}
.md .admonition.tip {
    border-left-color: rgba(40,230,40,.4) !important;
    background-color: rgba(40,230,40,.2) !important;
}
.md .admonition.warn,
.md .admonition.warning {
    border-left-color: rgba(255,145,0,.4) !important;
    background-color: rgba(255,145,0,.2) !important;
}
.md .admonition.error {
    border-left-color: rgba(255,40,40,.4) !important;
    background-color: rgba(255,40,40,.2) !important;
}
.md .admonition-title {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: -1.2rem !important;
    border-width: 0 !important;
    font-family: Vollkorn;
    font-size: 0.7em;
    font-weight: 900;
    text-transform: uppercase;
}
