html {
    font-size: 4vw;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.meta {
    font-size: 1.5rem;
    background-color: #333;
    padding: 0.2em 1rem 0.3em;
    height: 1em;
}

#time {
    float: left;
}

#slide-number {
    float: right;
}

#presenter-notes {
    margin: 1rem;
}
