@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');
/* TODO add iosevka once it's on google fonts */

:root {
    --text-color: black;
    --accent-color: #666;
    --accent-color2: #ddd;
    --link-color: #38c;
    --text-font: "Source Sans Pro";
    --code-font: "Courier";
}

* {
    box-sizing: border-box;
}

body {
    text-align: left;
}

h1:before,
h2:before {
    content: '' !important;
    margin: 0 !important;
}

/* important widths, margins and paddings */
.md div.title, h1, h2 {
    margin: 0;
    padding: 0;
}
h1, h2, .outline li {
    width: calc(100% + 2 * var(--side-margin));
    padding-left: var(--side-margin);
    margin-left: calc(0rem - var(--side-margin));
}
p, .md pre.listing, .listing, div.title, ol, ul, .admonition, center, .fancyquote, .bib, table, .center {
    width: 100%;
}
.center {
    text-align: center;
}
body, .md div.title, h1, h2 {
    font-family: var(--text-font) !important;
}
code, svg.diagram, .listing {
    font-family: var(--code-font) !important;
}


/* basics */
.md strong,
.md b {
    color: var(--accent-color);
}
.md a,
.md a:link,
.md a:visited {
    color: var(--link-color);
    font-family: var(--code-font);
}
.small {
    font-size: 0.67rem;
}
.accent {
    color: var(--accent-color);
}
kbd {
    background-color: #ddd;
    border: 0.05em solid #aaa;
    padding: 0 0.2em 0.1em;
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.1em   rgba(0, 0, 0, .2),
                0 0.05em 0     0 rgba(255, 255, 255, .7) inset;
}


/* title */
.md div.title {
    margin-top: 3rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5rem !important;
}
.md div.subtitle {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.67rem;
}


/* headings */
.md h1,
.md h2 {
    text-align: left;
    border: none !important;
}
.md h1 {
    background: var(--accent-color2);
    color: black;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    margin-top: calc(var(--slide-height) / 2 - 4.5rem / 2);
}
.md h2 {
    background: var(--accent-color);
    color: #FFF;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
}


/* horizontal lines */
hr.ignore {
    border: 0;
    border-bottom: 0.1rem solid var(--accent-color2);
}


/* diagrams */
.md svg.diagram {
    zoom: 130%;
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
    stroke-width: 0.0625rem;
}


/* code */
.md code {
    font-size: 100%;
}
.md pre.listing {
    font-size: 0.75rem;
    border-top: 0.1rem solid #ccc;
    border-bottom: 0.1rem solid #ccc;
    background-color: #eee;
    padding: 0.25rem 0.5rem;
    line-height: 1rem;
    resize: initial;
}


/* admonitions */
.md .admonition {
    border-radius: 0;
    border-left-width: 0.1rem !important;
    padding: .25rem 0.4rem;
}
.md .admonition::before {
    display: none !important;
}
.admonition,
.admonition.blue {
    border-left-color: rgba(68,138,255,.4) !important;
    background-color: rgba(68,138,255,.2) !important;
}
.admonition.orange {
    border-left-color: rgba(255,145,0,.4) !important;
    background-color: rgba(255,145,0,.2) !important;
}
.admonition.red {
    border-left-color: rgba(255,40,40,.4) !important;
    background-color: rgba(255,40,40,.2) !important;
}
.admonition.green {
    border-left-color: rgba(40,230,40,.4) !important;
    background-color: rgba(40,230,40,.2) !important;
}
.admonition-title {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: -1rem !important;
    border-width: 0 !important;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}
.admonition * {
    max-width: 100%;
}


/* two-column tables (of admonitions) */
table {
    font: inherit;
}
table td:first-child {
    padding-right: 0.33rem;
    width: 50%;
    vertical-align: top;
}
table td:last-child {
    padding-left: 0.33rem;
    width: 50%;
    vertical-align: top;
}
table .admonition {
    width: 100% !important;
    margin: 0 !important;
}
table p, table ul, table ol {
    width: 100% !important;
}


/* bibliography */
.md .bib {
    font-size: 0.6rem;
    line-height: 1rem;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}
.md .bib b {
    color: var(--link-color);
    font-family: var(--code-font);
    font-weight: initial;
}
sup.cite {
    line-height: 0rem;
    font-size: 0.67rem;
}


/* formula annotations */
.fannotated {
    padding: 1rem 0;
}
.fannotated .ann {
    position: absolute;
    font-size: 0.8em;
    left: calc(var(--full-width) / 2 - var(--side-margin));  /* adjust position inline from center, not left => enables varying root font size without readjusting all annotations */
    line-height: 1em;
    text-align: center;
}
.fannotated .arr {
    position: absolute;
    letter-spacing: -0.1rem;
    transform-origin: left;
    left: calc(var(--full-width) / 2 - var(--side-margin));
}
