
.slide {
    --slide-width: 100%;
    --slide-height: calc(var(--slide-width) * var(--aspect-ratio));
    --slide-letterbox-height: calc(100vh - var(--slide-height));

    width: var(--slide-width);
    height: calc(var(--slide-width) + var(--slide-letterbox-height));
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;
    //border-top: 0.5rem solid gray;
    padding: 0 var(--side-margin);
    background-color: white;
}

width: 100%;
    height: calc(100vw / 16 * 9 + (100vh - 100vw / 16 * 9));
    border-top: calc((100vh - 100vw / 16 * 9) / 2) solid black;
    border-bottom: calc((100vh - 100vw / 16 * 9) / 2) solid black;


.slide {
    --slide-width: calc(100vh * var(--aspect-ratio));
    --slide-height: calc(100vw / var(--aspect-ratio));
    --slide-letterbox-width: calc(100vw - var(--slide-width));
    --slide-letterbox-height: calc(100vh - var(--slide-height));

    max-width: var(--slide-width)  + var(--slide-letterbox-width));
    border-left: calc(var(--slide-letterbox-width) / 2) solid black;
    border-right: calc(var(--slide-letterbox-width) / 2) solid black;
    max-height: calc(var(--slide-height) + var(--slide-letterbox-height));
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;

    padding: 0 var(--side-margin);
    background-color: white;
    margin: 0;
}

// TODO maybe really do this with margins, with special cases for first and last?
.slide {
    --slide-width: 100vw;
    --slide-height: calc(var(--slide-width) / var(--aspect-ratio));
    --slide-letterbox-height: calc(100vh - var(--slide-height));  // TODO this can get negative and fuck up slide height

    width: var(--slide-width);
    height: calc(var(--slide-height) + var(--slide-letterbox-height));
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;

    padding: 0 var(--side-margin);
    background-color: white;
    margin: 0;
}
.slide-number {
    font-variant-numeric: tabular-nums lining-nums;
    position: absolute;
    right: 0.5rem;
    margin-top: calc(var(--slide-height) - 2rem);
    font-weight: normal;
    font-size: 0.8rem;
    color: #bbb;
    height: 0;
}


.slide {
    --slide-width: 100vw;
    --slide-height: calc(var(--slide-width) / var(--aspect-ratio));
    --slide-letterbox-height: calc((100vh - var(--slide-height)) / 2);  /* TODO this can get negative and fuck up slide height */

    width: var(--slide-width);
    height: var(--slide-height);
    margin: calc(max(0, var(--slide-letterbox-height))) 0;

    padding: 0 var(--side-margin);
    background-color: white;
    display: inline-block;
}
.slide-number {
    font-variant-numeric: tabular-nums lining-nums;
    position: absolute;
    right: 0.5rem;
    margin-top: calc(var(--slide-height) - 2rem);
    font-weight: normal;
    font-size: 0.8rem;
    color: #bbb;
    height: 0;
}






.slide {
    --slide-width: 100vw;
    --slide-height: calc(var(--slide-width) / (var(--aspect-ratio)));
    --slide-letterbox-height: calc(100vh - var(--slide-height));

    width: calc(var(--slide-width) - 2 * var(--side-margin));
    height: var(--slide-height);
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;
    border: auto;  /* "none" for draft mode, "auto" for production mode */

    background-color: white;
    padding: 0 var(--side-margin);
    margin: 0;

    box-sizing: content-box;
    overflow: hidden;  /* fix weird marin thing */
}






// would need to base root font size on width of rendered .slide element
.slide {
    --slide-width: calc(100vh * var(--aspect-ratio));
    --slide-height: calc(100vw / (var(--aspect-ratio)));
    --slide-letterbox-width: calc(100vw - var(--slide-width));
    --slide-letterbox-height: calc(100vh - var(--slide-height));

    width: calc(100% - 2 * var(--side-margin));
    max-width: calc(var(--slide-width) - 2 * var(--side-margin));
    border-left: calc(var(--slide-letterbox-width) / 2) solid black;
    border-right: calc(var(--slide-letterbox-width) / 2) solid black;
    height: 100%;
    max-height: var(--slide-height);
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;
    border: auto;  /* "none" for draft mode, "auto" for production mode */

    background-color: white;
    padding: 0 var(--side-margin);
    margin: 0;

    box-sizing: content-box;  /* exclude borders from width/height attribute */
    overflow: hidden;  /* fix weird marin thing */
}
.slide-number {
    font-variant-numeric: tabular-nums lining-nums;
    position: absolute;
    margin-left: calc(100% - var(--side-margin) - 1rem);
    margin-top: calc(var(--slide-height) - 1.8rem);
    font-weight: normal;
    font-size: 0.8rem;
    color: #bbb;
    height: 0;
    width: 0;
}







.md {
    margin: auto;
    display: block;
    max-width: calc(100vh * var(--aspect-ratio)) !important
}

/* TODO need to do this with js, i guess => on init and resize, set slide width and height variables, along with letterbox width and height?, based on viewport size https://css-tricks.com/updating-a-css-variable-with-javascript/ */

.slide {
    --slide-width: 100%;
    --slide-height: calc(100vw / (var(--aspect-ratio)));
    --slide-letterbox-height: calc(100vh - var(--slide-height));

    width: calc(var(--slide-width) - 2 * var(--side-margin));
    height: var(--slide-height);
    border-top: calc(var(--slide-letterbox-height) / 2) solid black;
    border-bottom: calc(var(--slide-letterbox-height) / 2) solid black;
    border: auto;  /* "none" for draft mode, "auto" for production mode */

    background-color: white;
    padding: 0 var(--side-margin);
    margin: 0;

    box-sizing: content-box;
    overflow: hidden;  /* fix weird marin thing */
}
.slide-number {
    font-variant-numeric: tabular-nums lining-nums;
    position: absolute;
    margin-left: calc(var(--slide-width) - var(--side-margin) - 1rem);
    margin-top: calc(var(--slide-height) - 1.8rem);
    font-weight: normal;
    font-size: 0.8rem;
    color: #bbb;
    height: 0;
    width: 0;
}



=> all of this would be easy with min(), max() or clamp(), or with vmin/vmax relative to the chose aspect ratio
